.Hero__Container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding-top: 20vh;
}

.Image__Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Image__Selector {
    display: block;
    object-fit: cover;
    width: 350px;
    height: 350px;
    border-radius: 1rem;
    text-align: center;
}

@media (max-width: 800px) {
    .Hero__Container {
        flex-direction: column;
        gap: 4rem;
        padding-top: 4rem;
        padding-bottom: 6rem;
    }
    .Image__Selector {
        width: 150px;
        height: 150px;
        border-radius: 100rem;
    }
}

.Text__Wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
}

.Text__1 {
    margin: 0;
    font-size: x-large;
    font-weight: 600;
    letter-spacing: 1px;
}

.Text__1:hover {
    margin: 0;
    color: darkcyan;
    font-size: xx-large;
    font-weight: 600;
    letter-spacing: 1px;
}

.Text__2 {
    margin: 0;
    font-size: medium;
    font-weight: 200;
    letter-spacing: 1px;
}

.Text__A {
    margin: 0;
    font-size: medium;
    font-weight: 500;
    letter-spacing: 1px;
}

.Text__A:hover {
    margin: 0;
    color: darkcyan;
    font-size: large;
    font-weight: 600;
    letter-spacing: 1px;
}

.Text__3 {
    margin: 0;
    font-size: medium;
    font-weight: 200;
    letter-spacing: 1px;
}

.Text__B {
    margin: 0;
    font-size: medium;
    font-weight: 500;
    letter-spacing: 1px;
}

.Text__B:hover {
    margin: 0;
    color: darkcyan;
    font-size: large;
    font-weight: 600;
    letter-spacing: 1px;
}

.Button__Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
}

.Page__Link__Primary {
    color: #242424;
    background-color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s ease;
    font-size: 18px;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.Page__Link__Secondary {
    background-color: #242424;
    color: #ffffff;
    border: solid white 2px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s ease;
    font-size: 18px;
    padding: 0.5rem;
}

.Left {
    justify-content: left;
}