.Nav__Container {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
}

.Nav__Logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 1.8rem;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease;
}

.Nav__Logo:hover {
    font-weight: bolder;
    font-size: 2rem;
}

.btn {
    display: none;
    color: #ffffff;
    border-radius: 6px;
}

.btn_wrapper {
    color: rgb(255, 255, 255);
}

.Nav__Menu__Desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.Nav__Menu__Mobile {
    display: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.Nav__Item__Desktop {
    list-style: none;
}

.Nav__Item__Mobile {
    list-style: none;
}

.Nav__Link {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 18px;
    padding: 0.5rem;
}

.Nav__Link:hover {
    color: #ffffff;
    font-size: 20px;
}

.Nav-CTA-Link {
    color: #242424;
    background-color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s ease;
    font-size: 18px;
    padding: 0.5rem;
}

.Nav-CTA-Link:hover {
    color: #ffffff;
    background-color: #242424;
    font-size: 20px;
    border: solid white 2px;
}

@media (max-width: 800px) {
    .Nav__Container {
        padding: 0 1rem;
    }
    .btn {
        display: contents;
    }
    .btn_wrapper {
        stroke: #ffffff;
        color: #ffffff;
        fill: #ffffff;
    }
    #root>header>nav>button>div>svg>path {
        stroke: #ffffff;
    }
    .Nav__Menu__Desktop {
        display: none;
    }
    .Nav__Menu__Mobile {
        display: flex;
        padding-left: 0;
        align-items: center;
    }
}