.LoadingContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 35vh;
    padding-bottom: auto;
}

.LoadingText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image__Selector {
    display: block;
    object-fit: cover;
    width: 350px;
    height: 350px;
    border-radius: 1rem;
    text-align: center;
}