.intrests__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.intrests__content {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.content__title__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.content__title {
    font-size: 1.2rem;
}

.content__icons__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icon__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon__selector {
    display: block;
    object-fit: cover;
    width: 60px;
    height: 60px;
    text-align: center;
}

.icon__text {
    font-size: 1rem;
}